body {
  background-color: rgb(254, 251, 240);
}
.App {
  text-align: center;
}
.buttonNextAndPrevious {
  background-color: rgb(86, 86, 247);
  padding: 20px;
  margin: 50px;
  color: white;
  border: none;
  letter-spacing: 2px;
  font-weight: bold;
  cursor: pointer;
}
.buttonNextAndPrevious:hover {
  background-color: rgb(113, 113, 252);
}